* {
  font-family: 'Assistant', sans-serif;
}

html, body {
 margin: 0;
}

body {
  background-color: #ED6B5F;
}

h1, h2, button {
  font-weight: 200;
}

h1, h2 {
  text-align: center;
}

h1 {
  background-color: #CF483C;
  font-size: 22px;
  color: #FFF;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

h2 {
  font-size: 100px;
  color: #FFF;
  line-height: 275px;
}

.btn-primary {
  width: 200px;
  margin: 0 auto;
  display: block;
  background: #E0594C;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #FFF;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 50px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-primary:hover {
  background: #CF483C;
  text-decoration: none;
  border: none;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  font-size: 50px;
  border-width: 2px;
  border-style: solid;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
