* {
  font-family: 'Assistant', sans-serif;
}

html, body {
 margin: 0;
}

body {
  background-color: #ED6B5F;
}

h1, h2, button {
  font-weight: 200;
}

h1 {
  font-family: 'Spectral SC', serif;
  background-color: #CF483C;
  font-size: 50px;
  color: #FFF;
  height: 50px;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h2 {
  font-size: 100px;
  color: #FFF;
  line-height: 275px;
  text-align: center;
}

/*timer*/
.circle {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  font-size: 50px;
  border-width: 2px;
  border-style: solid;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 56px;
}

.timer {
  padding-left: 500px;
  margin-top: 50px;
}

/*work-timer*/
.countdown-work-timer {
  width: 306px;
  height: 306px;
  position: relative;
  -webkit-border-radius: 200px;
  margin: 20px;
  display: inline-block;
}

@-webkit-keyframes timer-slide {
  0%   { -webkit-transform: rotate(-225deg); }
  50%  { -webkit-transform: rotate(-45deg);  }
  100% { -webkit-transform: rotate(-45deg);  }
}

@-webkit-keyframes timer-toggle {
  0%  { opacity: 0; }
  50% { opacity: 0; }
  51% { -webkit-transform: rotate(-45deg);
    opacity: 1;
  }
  75% {
    border-top-color: transparent;
  }
  76% {
    border-top-color: #CF483C;
  }
  100% {
    -webkit-transform: rotate(137deg);
    opacity: 1;
    border-top-color: #CF483C;
  }
}
.timer-work-l, .timer-work-r {
  border-radius: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  border: 7px solid #CF483C;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-animation-duration: 30s;
}
.timer-work-l {
  -webkit-animation-name: timer-slide;
  -webkit-animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  z-index: 5;
  left: 0;
}
.timer-work-r {
  -webkit-animation-name: timer-toggle;
  -webkit-animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.timer-slot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
}

/*long-break-timer*/
.countdown-long-break-timer {
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-border-radius: 200px;
  margin: 20px;
  display: inline-block;
}

@-webkit-keyframes timer-slide {
  0%   { -webkit-transform: rotate(-225deg); }
  50%  { -webkit-transform: rotate(-45deg);  }
  100% { -webkit-transform: rotate(-45deg);  }
}

@-webkit-keyframes timer-toggle {
  0%  { opacity: 0; }
  50% { opacity: 0; }
  51% { -webkit-transform: rotate(-45deg);
    opacity: 1;
  }
  75% {border-top-color: transparent;
  }
  76% {
    border-top-color: #CF483C;
  }
  100% {
    -webkit-transform: rotate(137deg);
    opacity: 1;
    border-top-color: #CF483C;
  }
}
.timer-long-break-l, .timer-long-break-r {
  border-radius: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  border: 2px solid #CF483C;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
}
.timer-long-break-l {
  -webkit-animation-name: timer-slide;
  -webkit-animation-timing-function: ease-in;
  z-index: 5;
  left: 0;
}
.timer-long-break-r {
  -webkit-animation-name: timer-toggle;
  -webkit-animation-timing-function: ease-out;
}

.timer-slot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
}

/*short-break-timer*/
.countdown-short-break-timer {
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-border-radius: 200px;
  margin: 20px;
  display: inline-block;
}

@-webkit-keyframes timer-slide {
  0%   { -webkit-transform: rotate(-225deg); }
  50%  { -webkit-transform: rotate(-45deg);  }
  100% { -webkit-transform: rotate(-45deg);  }
}

@-webkit-keyframes timer-toggle {
  0%  { opacity: 0; }
  50% { opacity: 0; }
  51% { -webkit-transform: rotate(-45deg);
    opacity: 1;
  }
  75% {border-top-color: transparent;
  }
  76% {
    border-top-color: #CF483C;
  }
  100% {
    -webkit-transform: rotate(137deg);
    opacity: 1;
    border-top-color: #CF483C;
  }
}
.timer-short-break-l, .timer-short-break-r {
  border-radius: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  border: 2px solid #CF483C;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
}
.timer-short-break-l {
  -webkit-animation-name: timer-slide;
  -webkit-animation-timing-function: ease-in;
  z-index: 5;
  left: 0;
}
.timer-short-break-r {
  -webkit-animation-name: timer-toggle;
  -webkit-animation-timing-function: ease-out;
}

.timer-slot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
}

/*sidebar*/
.sidebar {
  float: left;
  background-color: #CF483C;
  width: 350px;
  height: 100vh;
  margin-top: -50px;
  padding-left: 15px;
  color: #fff;
}

.task-item {
  width: 295px;
  line-height: 50px;
  font-weight: 200;
}

.task-input {
  margin-bottom: 15px;
}

/*input*/
input {
  width: 275px;
  display: inline;
  border-style: none;
  text-align: left;
  height: 40px;
  background-color: #E0594C;
  vertical-align: middle;
}

input:focus {
    outline: none !important;
}

input[type=text] {
  font-weight: 400;
  padding-left: 5px;
  color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f4a7a2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #f4a7a2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #f4a7a2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #f4a7a2;
}

/*buttons*/
.btn-primary {
  width: 200px;
  margin: 0 auto;
  display: block;
  background: #E0594C;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #FFF;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 50px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-primary:hover {
  background: #CF483C;
  text-decoration: none;
  border: none;
}

.remove-btn, .add-btn {
  float: right;
  background: 0;
  width: 0px;
  margin-top: 0px;
  padding: 0px;
}

.ion-ios-plus-outline {
  color: #fff;
  margin-left: -55px;
}

.ion-ios-plus-outline:focus,.ion-ios-plus-outline:active {
  outline: none !important;
  box-shadow: none;
}

.ion-ios-plus-outline:hover:before {
  content: "\f48b";
  color: #fff;
}

.ion-ios-close-outline {
  color: #fff;
  outline: none !important;
}

.ion-ios-close-outline:hover:before {
  content: "\f406";
  color: #fff;
}

.ion-ios-close-outline:focus {
  outline: none !important;
}
