<h1>Fōkəs</h1>
  <div ng-controller="HomeCtrl">
    <div ng-hide="onBreak" class="circle">
      <h2>{{ totalTime | timeFilter }}</h2>
      <button type="button" class="btn btn-primary" ng-click="sessionTime(session)">{{ session }}</button>
    </div>
    <div ng-show="onBreak" class="circle">
      <h2>{{ totalTime | timeFilter }}</h2>
      <button type="button" class="btn btn-primary" ng-click="sessionTime(session)">{{ session }} Break</button>
      <button type="button" class="btn btn-primary" ng-click="skipBreak()">Skip Break</button>
    </div>
  </div>
